Import Pandas library

In [1]:
import pandas as pd

Reading the dataset

In [5]:
df=pd.read_csv("sales.csv")

Return the first 5 rows

In [6]:
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN

Removing the header

In [7]:
df=pd.read_csv('sales.csv', header=None)

Return the first 5 rows

In [8]:
df.head()

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN

Look at the shape

In [9]:
df.shape

(3001, 7)

Importing the ECLAT class

In [10]:
from pyECLAT import ECLAT

ModuleNotFoundError: No module named 'pyECLAT'

Loading transactions DataFrame to ECLAT class

In [11]:
eclat = ECLAT(data=df)

NameError: name 'ECLAT' is not defined

DataFrame of binary values

In [12]:
print(eclat.df_bin)

NameError: name 'eclat' is not defined

Count items in each column

In [14]:
items_total = eclat.df_bin.astype(int).sum(axis=0)
print(items_total)

NameError: name 'eclat' is not defined

Count items in each row

items_per_transaction = eclat.df_bin.astype(int).sum(axis=1)
print(items_per_transaction)

Item should appear at least at 5% of transactions

In [16]:
min_support = 5/100

Start from transactions containing at least 2 items

In [17]:
min_combination = 2

Up to maximum items per transaction

In [18]:
max_combination = 5

Training using Eclat

In [19]:
rule_indices, rule_supports = eclat.fit(min_support=min_support,
                                        min_combination=min_combination,
                                        max_combination=max_combination,
                                        separator=' & ', verbose=True)
result = pd.DataFrame(rule_supports.items(),columns=['Item', 'Support'])
result.sort_values(by=['Support'], ascending=False)

NameError: name 'eclat' is not defined

Print the result

In [20]:
print(result)

NameError: name 'result' is not defined